<h1>Api Data show In Table</h1>

<table class="table table-striped ">
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Avtar</th>

        

</tr>
<tr *ngFor="let x of data">
    <td>{{x.id}}</td>
    <td>{{x.first_name}}</td>
    <td>{{x.last_name}}</td>
    <td>{{x.email}}</td>
    <td>{{x.avatar}}</td>

    <!-- <td><button class="btn btn-secondary" type="button" (click)="updateData()">Update</button></td> -->
</tr>
</table>
